<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/semantic.min.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/semantic.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <title>Data Labeling Platform</title>
  </head>
  
  <body>
    <div class="ui page grid">
      <div class="column">
        <div class="ui large gray inverted pointing menu">
          <div class="container">
            <div class="title item">
              <b>Data Labeling Platform</b>
            </div>
            <a class="item">
              <i class="home icon"></i> Home
            </a>
            <a class="active item">
              <i class="write icon"></i> Label
            </a>
            <a class="item">
              <i class="check circle icon"></i> Check
            </a>
            <a class="item">
              <i class="unhide icon"></i> Overview
            </a>
            <div class="right menu">
              <a class="ui item">
                Logout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui page grid">
      <div class="column">
        <div class="row">
          <div class="ui left labeled icon button">
            <i class="left arrow icon"></i>
            Previous
          </div>
          <div class="ui large image">
            <img src="images/steve.jpg">
          </div>
          <div class="ui right labeled icon button">
            <i class="right arrow icon"></i>
            Next
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="ui left labeled icon green button">
            <i class="checkmark icon"></i>
            Accept
          </div>
          <div class="ui left labeled icon orange button">
            <i class="ban icon"></i>
            Reject
          </div>
        </div>
      </div>
    </div>
  </body>
</html>